# This file tells Git which files shouldn't be added to source control
node_modules

apify_storage/datasets/*
apify_storage/request_queues/*


!apify_storage/datasets/.gitkeep
!apify_storage/request_queues/.gitkeep